@font-face {
  font-family: 'Twiggy';
  src: url('../fonts/twiggy.woff2') format('woff2'),
       url('../fonts/twiggy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lisa Terminal';
  src: url('../fonts/lisaterminal-numerals.woff2') format('woff2'),
       url('../fonts/lisaterminal-numerals.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}