<footer class="Footer  {% if page.path contains '_posts' %}Footer--postView{% endif %}">
  <div class="FooterFooter">

    <div class="FooterFooter-footer">
      <a href="/" class="FooterFooterFooter  {% if page.path contains '_posts' %}FooterFooterFooter--postView{% endif %}">the<br>primal<br>urge</a>
    </div>

    <nav class="FooterFooter-footer">
      <a href="https://www.twitter.com/theprimalurge" class="FooterFooter-footerLink" target="_blank" rel="noopener">Twitter</a>
      <a href="https://www.facebook.com/theprimalurge" class="FooterFooter-footerLink" target="_blank" rel="noopener">Facebook</a>
      <a href="https://tinyletter.com/theprimalurge" class="FooterFooter-footerLink" target="_blank" rel="noopener">Newsletter</a>
      <a href="/feed.xml" class="FooterFooter-footerLink" target="_blank" rel="noopener">RSS</a>
    </nav>

  </div>
</footer>