.Pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

  .Pagination-link {
    position: relative;
    display: block;

    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 10px;
    padding-left: 10px;

    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: black;

    background-color: white;
    outline: 12px solid transparent;
    border: 1px solid black;
    box-shadow: 2px 2px 0 rgba(255, 255, 255, 1);
    transition: outline .45s ease;
    z-index: 9;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image:
        repeating-linear-gradient(
        to bottom,
        white,
        white 1px,
        rgba(0, 0, 0, 1) 1px,
        rgba(0, 0, 0, 1) 2px
      );
      opacity: 0.17;
      z-index: -1;
    }

    svg {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-bottom: -5px;
      fill: lighten(black, 42%);
      transition: .125s ease all;
    }

    &:focus {
      outline: 2px solid lime;
      outline-offset: 0;
      animation: press .015s ease .015s both;
    }

    &:hover {
      text-decoration: none;
      background: lighten(black, 90%);
    }

    &:hover svg {
      fill: lighten(black, 20%);
    }

    &--older {

      &:hover svg {
        transform: translateX(12%);
      }

    }

    &--newer {

      &:hover svg {
        transform: translateX(-12%);
      }

    }
  }














