.Fbi {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 100%;

  @media (max-width: 600px) {
    display: block;
  }
}

  .Fbi-badCop {
    width: 46%;

    @media (max-width: 600px) {
      margin-bottom: 48px;
    }
  }

  .Fbi-goodCop {
    width: 46%;
  }

  .Fbi-badCop,
  .Fbi-goodCop {
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .Fbi-goodCop .Fbi-copId {
    text-align: right;
  }

  .Fbi-interrogation {
    position: relative;
    padding: 12px;

    background: white;
    @include pixelate(4px, white, white);
  }

  .Fbi-badCop .Fbi-interrogation {

    &:after {
      content: '';
      position: absolute;
      display: block;

      left: 7.5%;
      bottom: -16px;

      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: white transparent transparent transparent;
    }

  }

  .Fbi-goodCop .Fbi-interrogation {

    &:after {
      content: '';
      position: absolute;
      display: block;

      right: 7.5%;
      bottom: -16px;

      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: white transparent transparent transparent;
    }

  }

    .Fbi-interrogationTalk {
      font-size: 14px;
      line-height: 1.25;
    }

  .Fbi-copId {
    margin-top: 40px;
  }

    .Fbi-copIdName {
      display: block;

      font-size: 13px;
      line-height: 1;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
    }

    .Fbi-copIdPersonality {
      font-size: 12px;
      letter-spacing: 0.045vw;
      color: rgba(255, 255, 255, .87);

      span {
        color: rgba(255, 255, 255, .36);
      }
    }


























