.Bravo {
  position: absolute;
  display: block;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  transition: .25s ease;

  filter: contrast(1.15) grayscale(1) brightness(1);

  &:hover {
    transform: scale(1.03);
    filter: none;
  }

  @media (max-width: 1000px) {
    filter: none;
  }
}